<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} Python Flask Bucket List App</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Darn Vulnerable Flask App</h3>
        </div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="/xss/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">XSS<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/xss/reflected/">Reflected XSS</a></li>
                                <li><a href="/xss/stored/">Stored XSS</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="/sqli/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SQL Injection<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/sqli/simple/">Simple SQL Injection</a></li>
                                <li><a href="/sqli/simpleescape/">Simple Escaped SQL Injection</a></li>
                                <li><a href="/sqli/blind/">Blind SQL Injection</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="/file/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">File Exploits<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/file/traversal/">File Path Traversal</a></li>
                                {#<li><a href="/file/upload-open/">File Upload</a></li>
                                <li><a href="/file/upload-norunnable/">File Upload Exe, DLL, Powershell, etc.</a></li>
                                <li><a href="/file/text-only/">File Upload Text Only</a></li>#}
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="/fuzzing/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fuzzing Exploits<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/fuzzing/simple/">Simple Fuzzing</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="/execution/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Command Execution<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/execution/simple/">Simple Execution</a></li>
                                {#<li><a href="/execution/intermediate/">Intermediate Execution</a></li>#}
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div id="content">
            <h3>Instructions</h3>
            {% block instructions %}{% endblock %}
            <hr />
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            {% block footer %}{% endblock %}
        </div>
         
    </div>
    {% block scripts %}
        <script src="/static/js/jquery-1.12.4.js"></script>
        <script src="/static/js/bootstrap.js"></script>
    {% endblock %}
</body>
</html>